

body {
      padding-top: 40px;
      padding-bottom: 40px;
      background-color: #FCFCFC;
    }

    .form-signin {
      max-width: 300px;
      padding: 19px 29px 29px;
      margin: 0 auto 20px;
      background-color: #fff;
      border: 1px solid #e5e5e5;                                                                           
      -webkit-border-radius: 5px;
         -moz-border-radius: 5px;
              border-radius: 5px;
      -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
         -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
              box-shadow: 0 1px 2px rgba(0,0,0,.05);
    }

    .form-signin .form-signin-heading,
    .form-signin .checkbox {
      margin-bottom: 10px;
    }


/*Single main header*/
.page-header {
  margin-left: 10px;
  opacity: .50;  
}

/*the three sub headers*/
h3 {
  text-align: center;
}


/*Left Pane of Main page: Groups List*/

#groupsList {
    background-color: #FCFCFC;
    border-radius: 5px;
    padding: 0px 5px 5px 5px; /*T R B L*/

}

 /*Retrieve Groups button */
   input[type=submit] { 
    text-align: center;
    background-color: #DDDDE0;
    border: #DDDDE0;
    border-radius: 15px;
    padding: 5px 90px 5px; /*T R&L  B*/


   }


/*The list of conversations*/
    .conversationBox {
      border-radius: 6px; 
      -moz-border-radius: 6px; 
      -webkit-border-radius: 6px; 
      border: 0px solid #B1E0E0;
      border-radius: 5px; /*TL TR BR BL*/
      margin: 10px 5px 10px 5px; /*top right bottom left */
      padding: 10px 29px 10px; /*T R&L  B*/
      text-align: left;

    }
    
    .conversationBox:hover {
      background-color: #DDDDE0;
    }

    .active {
      background-color: #B1E0E0 ;
    }

    .form-signin-heading2 {
      font-size: 14px;
      margin-bottom: 10px;
    }
    
    /*Second Pane: Messages Section*/
    #currConversation {
      border-radius: 10px 0px 0px 10px; /*TL TR BR BL*/
      margin: 0px 0px 0px 5px; /*top right bottom left */
      background-color: #B1E0E0;
    }
    #lots-of-messages {
     padding: 2px 10px 2px;
    }
.one_message {
       padding: 2px 10px 2px;

}

    .avatar {
      width: 38px;
      height: auto;

    }


    /*Third Pane: Metrics*/
    #metricsPane {
      border-radius: 0px 10px 10px 0px; /*TL TR BR BL*/
      margin: 0px 5px 0px 0px; /*top right bottom left */
      background-color: #B1E0E0;
    }


