

body {
      padding-bottom: 40px;
      background-color: #FCFCFC;
    }

    .form-signin {
      max-width: 300px;
      padding: 19px 29px 29px;
      margin: 0 auto 20px;
      background-color: #fff;
      border: 1px solid #e5e5e5;                                                                           
      -webkit-border-radius: 5px;
         -moz-border-radius: 5px;
              border-radius: 5px;
      -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
         -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
              box-shadow: 0 1px 2px rgba(0,0,0,.05);
    }

    .form-signin .form-signin-heading,
    .form-signin .checkbox {
      margin-bottom: 10px;
    }


/*Single main header*/
.page-header {
  margin-left: 10px;
}

h1 {
  color: #ff814A;
  padding-left: 5px;
  font-size: 38px;

}
/*the three sub headers*/
h3 {
  text-align: left;
  color: white; 
  font-size: 30px;
  margin-top: 7px;
}


/*Left Pane of Main page: Groups List*/

#groupsList {
    background-color: #91BBBB;
    border-radius: 15px;
    padding: 0px 5px 5px 5px; /*T R B L*/

}

 /*Refresh Groups button */
   input[type=submit] { 
    float: right;
    text-align: center;
    background-color: #FCFCFC;
    border: #FCFCFC;
    border-radius: 15px;
    padding: 5px 5px 5px; /*T R&L  B*/
    margin: 0px 5px 5px 0px; /*top right bottom left */
    width: 57px;
   }


/*The list of conversations*/
    .conversationBox {
      -moz-border-radius: 6px; 
      -webkit-border-radius: 6px; 
      border: 0px solid #B1E0E0;
      border-radius: 15px; /*TL TR BR BL*/
      margin: 10px 5px 10px 5px; /*top right bottom left */
      padding: 10px 29px 10px; /*T R&L  B*/
      text-align: left;
      color: white;

    }
    
    .conversationBox:hover {
      background-color: #FFE3B7;
    }

    .active {
      background-color: #FCFCFC;
      color: #91BBBB;
    }

    .form-signin-heading2 {
      font-size: 14px;
      margin-bottom: 10px;
    }
    


    /*Second Pane: Messages Section*/
    #currConversation {
      border-radius: 15px 0px 0px 0px; /*TL TR BR BL*/
      margin: 0px 0px 0px 5px; /*top right bottom left */
      background-color: #E1F5F5;
    }

    /*text input box*/
    #currConversation input {
      width: 350px;
      height: 30px;
      border-radius: 10px;
    }

    #currConversation button {
      border-radius: 40px;
      background-color: #FFA84A;
      border: 0px;
      height: 30px;
      color: #FCFCFC;
    }


    #lots-of-messages {
      padding: 2px 10px 2px;
    }

    .one_message {
      padding: 2px 10px 2px;
      margin: 6px 5px 0px 5px; /*top right bottom left */
      border-radius: 5px; 
      -moz-border-radius: 10px; 
      -webkit-border-radius: 10px; 
      background-color: #FCFCFC;

    }

    .avatar-box { 
      float: left;
      background: 50% 50% no-repeat; /* 50% 50% centers image in div */
      width: 40px;
      height: 40px;
      margin: 0px 5px 0px 0px; /*top right bottom left */
      overflow: hidden;

    }

    .avatar{
      display: block;
      width: 40px;
      height: auto;
    }


    /*Third Pane: Metrics*/
    #metricsPane {
      border-radius: 0px 15px 15px 0px; /*TL TR BR BL*/
      margin: 0px 5px 0px 0px; /*top right bottom left */
      background-color: #E1F5F5;
    }


