
body {
      padding-top: 40px;
      padding-bottom: 40px;
      background-color: #DDDDE0;
    }

    .form-signin {
      max-width: 300px;
      padding: 19px 29px 29px;
      margin: 0 auto 20px;
      background-color: #fff;
      border: 1px solid #e5e5e5;
      -webkit-border-radius: 5px;
         -moz-border-radius: 5px;
              border-radius: 5px;
      -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
         -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
              box-shadow: 0 1px 2px rgba(0,0,0,.05);
    }

    .form-signin .form-signin-heading,
    .form-signin .checkbox {
      margin-bottom: 10px;
    }


/*Single Main Header*/
.page-header {
  opacity: .50;  
}

/*the three sub headers*/
h3 {
  text-align: center;
}


/*Left Pane of Main page: Groups List*/

#groupsList {
    background-color: #FFFFFF;
    border-radius: 12px;
}

 /*Retrieve Groups button */
   input[type=submit] { 
    text-align: center
    background-color: #DDDDE0;
    border: #DDDDE0;
    border-radius: 12px;

   }


/*The list of conversations*/
    .conversationBox {
      border-radius: 12px; 
      -moz-border-radius: 12px; 
      -webkit-border-radius: 12px; 
      padding: 19px 29px 19px;
      margin-left: 0px;
      margin-right: 5px;
      margin-top: 10px;
      margin-bottom: 10px;
      text-align: left;

    }

    .conversationBox:hover {
      background-color: #A6A6A8;
    }

    .conversationBox:active {
    border: 1px solid #A6A6A8;  
    }

    .form-signin-heading2 {
      font-size: 14px;
      margin-bottom: 10px;
    }
    
/*Second Pane: Messages Section*/
    #currConversation {
      border-radius: 12px;
      margin: 0px 5px 0px 5px; /*top right bottom left */
      background-color: #B1E0E0;
    }

    /*Third Pane: Metrics*/

    #metricsPane {
      border-radius: 12px;
      margin: 0px 5px 0px 5px; /*top right bottom left */
      background-color: #8AC2B0;


    }